.App {
  font-family: sans-serif;
  text-align: center;
}

input {
  border: 1px solid #999;
  padding: 0.5rem;
  width: 300px;
}

.no-suggestions {
  color: #999;
  padding: 0.5rem;
}

.suggestions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 300px;
  overflow-y: auto;
}

.suggestions li {
  cursor: pointer;
  padding: 0.5rem;
  font-size: 0.9rem;
  font-weight: 500;
  border: 1px solid black;
  width: 60%;
  background-color: lightblue;
}
